html, body, .container-fluid {
	height: 100%;
}

body {
	background-color: #556270;

	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	font-size: 16px;
	color: #9bb3cc;
}

.ribbon {
	position: absolute; 
	top: 0; 
	right: 0; 
	border: 0;
}

.bar {
	background: url('/img/bar.png') no-repeat center center;
	font-size: 32px;
	margin: 0px 0px 25px 0px;
	padding: 0px 0px 0px 6px;
}

.bar a {
	color: #9bb3cc;
	text-decoration: none;
}

#result {
	position: relative;
}

#result > a {
	position: relative;
	display: inline-block;
	padding: 4px;
	margin: 4px;
	background-color: #69798a;
	box-shadow: 0px 3px 1px #000;
}

#result > a .progress {
	position:absolute;
	top: 45%;
	left: 10px;
	right: 10px;
	z-index:10000;
}

#result > a > a {
	position:absolute;
	display: block;
	background-color: #69798a;
	border-radius:50%;
	top: 45%;
	font-size: 36px;
	z-index:10000;
}

#result > a > a span {
	padding: 10px;
}

#btn-convert {
	margin: 20px 0px;
}

.hidden {
	display: none;
}

.popover {
	background-color: #69798a;
}

.popover.right>.arrow,.popover.right>.arrow:after {
	border-right-color: #69798a;
}

.popover-title {
	color: #c7f464;
	background-color: #607083;
	font-size: 16px;
}
.popover-content {
	color: #9bb3cc;
	background-color: #69798a;
	font-size: 13px;
}